<h1>Coupons</h1>

<% @coupons.each do |coupon| %>
  <p><%= coupon.store %>: <%= link_to(coupon.coupon_code, coupon_path(coupon)) %></p>
<% end %>

<button type="button" name="button"><%= link_to("Create New Coupon", new_coupon_path) %></button>
